.DS_Store
temp.txt
temp.json
temp.sh
errors.txt
key-file-*.json

notebooks-with-substitution/*.ipynb
notebooks-with-substitution/*.tmp

bigspark-with-substitution/*.py
bigspark-with-substitution/*.tmp

terraform/.terraform/*
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate.backup
terraform/tf-output.json
temp.sql
datafusion/system/*
datafusion/sample-json/*
temp.py
sample-data/rideshare_trips-with-substitution/Rideshare_Vendor_Id=1/*
sample-data/rideshare_trips-with-substitution/Rideshare_Vendor_Id=2/*
sample-data/rideshare_trips-with-substitution/_delta_log/*
sample-data/rideshare_trips-with-substitution/_symlink_format_manifest/*
tf.log
git-on-borg*.sh
preview-features/*
cloud-functions/bigquery-external-function.zip
replace-me-helper.txt
terraform/iceberg-spark-runtime-3.1_2.12-0.14.0.jar
terraform/spark-bigquery-with-dependencies_2.12-0.26.0.jar
terraform-modules/org-policies/tf-org-policies-original.txt
bp-controller.sh
bp-controller-log.txt
bp-controller-log.json
temp-sql-template.txt
deploy-omni2.sh
cloud-functions/rideshare-plus-rest-api.zip
deploy-env-shortcut.sh
temp.html
temp.tf
cloud-composer/data/bash_create_datastream_cdc_private_ip.sh
destination_config.json
iam_restrictAuthorizedNetworks.yaml
source_config.json
.venv/*
gcloud-storage-copy.sh
cloud-run/rideshare-plus-website.zip
cloud-run/rideshare-plus-website/RidesharePlus/obj/*
cloud-run/rideshare-plus-website/RidesharePlus/bin/*
.vscode/*
temp.md
langchain/.venv/*
langchain/.env
temp-prompt.txt
terraform-modules/colab-deployment/cloud-function/notebooks/*
tmp/*