.DS_Store
temp.txt
temp.json
temp.sh
errors.txt
key-file-*.json

notebooks-with-substitution/*.ipynb
notebooks-with-substitution/*.tmp

bigspark-with-substitution/*.py
bigspark-with-substitution/*.tmp

terraform/.terraform/*
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate.backup
terraform/tf-output.json
temp.sql
deploy-omni.sh
datafusion/system/*
datafusion/sample-json/*
temp.py
sample-data/rideshare_trips-with-substitution/Rideshare_Vendor_Id=1/*
sample-data/rideshare_trips-with-substitution/Rideshare_Vendor_Id=2/*
sample-data/rideshare_trips-with-substitution/_delta_log/*
sample-data/rideshare_trips-with-substitution/_symlink_format_manifest/*
tf.log
git-on-borg*.sh
preview-features/*
cloud-functions/bigquery-external-function.zip
replace-me-helper.txt
terraform/iceberg-spark-runtime-3.1_2.12-0.14.0.jar
terraform/spark-bigquery-with-dependencies_2.12-0.26.0.jar
terraform-modules/org-policies/tf-org-policies-original.txt
bp-controller.sh
bp-controller-log.txt
bp-controller-log.json
