.DS_Store
temp.txt
temp.json
temp.sh
errors.txt
key-file-*.json

notebooks-with-substitution/*.ipynb
notebooks-with-substitution/*.tmp

bigspark-with-substitution/*.py
bigspark-with-substitution/*.tmp

terraform/.terraform/*
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate.backup
terraform/tf-output.json
temp.sql
deploy-omni.sh