.DS_Store
deploy-env-shortcut.sh
publish-to-analytics-hub.sql
key-file-*.json

terraform/.terraform/*
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate.backup
terraform/tf-output.json

.venv/*
.vscode/*

tf.log
To-Do.txt
tmp/*
temp.sh
temp.json
Scrub-Data.sql
git-on-borg-paternostro.sh
git-on-borg-production.sh
Analytics-Hub.md
Export-Import.sql
qwiklabs/qwiklabs.zip
terraform-modules/colab-deployment-create-files/notebooks/*
terraform-modules/colab-deployment-create-files/notebooks_base64/*
temp.txt
__pycache__/
data-analytics-agent.zip
agent-code-zip/*
cse-key.txt
dataform-deploy/*
agent-code/data_analytics_agent/.env
ttt.txt
temp-02.json
agent-code/.venv/*
git-on-borg-paternostro-data-agent.sh
git-on-borg-production-data-agent.sh
ToDo.txt
agent-code/data_analytics_agent_async/.env
agent-code/agents/data_analytics_agent/.env
agent-code-old/data_analytics_agent/.env
